@font-face {
   font-family: 'Neue Plak Regular';
   font-display: swap;
   src: url('file:///home/kenet/.config/Mobirise.com/Mobirise/projects/project-2024-12-04_130226/fonts/Neue%20Plak%20Regular/font.ttf');
}
